# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  qvalue,
  fastICA,
  JADE
)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "points")
importFrom("stats", "cor", "density", "lm", "model.matrix", "pf","pnorm", "var")
